* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    color: white;
}

h4 {
    color: aliceblue;
}

.header {
    background: rgb(5, 6, 38);
    padding-bottom: 25px;
}

.container {
    max-width: 1010px;
    margin: 0 auto;
    width: 100%;
}

.header-top {
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-contact,
.header-item {
    display: flex;
    align-items: center;
    padding: 0 50px;
}

.main {
    padding-top: 50px;
}

.catalog-flex {
    /* display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
    row-gap: 50px;
}

.catalog-element {
    box-shadow: 1px 2px 11px black;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}
.catalog-element:hover{
    transform: scale(1.07);
}
.bg1 {
    height: 150px;
    background: url("img/bg3.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg2 {
    height: 150px;
    background: url("img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg3 {
    height: 150px;
    background: url("img/bg5.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg4 {
    height: 150px;
    background: url("img/bg6.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg5 {
    height: 150px;
    background: url("img/bg7.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg6 {
    height: 150px;
    background: url("img/bg8.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg7 {
    height: 150px;
    background: url("img/bg9.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.bg8 {
    height: 150px;
    background: url("img/bg10.png");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.catalog-cont {
    padding: 20px;
}
.title{
font-size: 20px;
font-weight: 700;
}
.btn{
background: #FED84C;
height: 50px;
width: 140px;
border: none;
border-radius: 8px;
}
.price{
font-size: 18px;
font-weight: 500;
}
.subtitle{
font-size: 13px
}
/* @media(max-width:1100px){
    .container {
        max-width: 920px;
        margin: 0 auto;
        width: 100%;
    }
    .catalog-flex {
        column-gap: 50px;
        grid-template-columns: repeat(3, 1fr);
    }
} */